<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hOME pAGE</title>
</head>
<body>  
    <h1>Welcome to the Vehicle Parking System</h1>
    <p>This is the home page. You can navigate to different sections from here.</p>
    <nav>
        <ul>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.signup') }}">Signup</a></li>
            <li><a href="{{ url_for('main.manage_cat') }}">Manage Categories</a></li>
        </ul>
    </nav>
</body>
</html>